/Full DLL.vcxproj
/Full DLL.vcxproj.filters
/Full.vcxproj
/Full.vcxproj.filters
/IE Full Plugin.vcxproj
/IE Full Plugin.vcxproj.filters
/NP Full Plugin.vcxproj
/NP Full Plugin.vcxproj.filters
/collada_dom.vcxproj
/collada_dom.vcxproj.filters
/convexDecomp.vcxproj
/convexDecomp.vcxproj.filters
/dlldata.c
/libogg.vcxproj
/libogg.vcxproj.filters
/libtheora.vcxproj
/libtheora.vcxproj.filters
/libvorbis.vcxproj
/libvorbis.vcxproj.filters
/ljpeg.vcxproj
/ljpeg.vcxproj.filters
/lmng.vcxproj
/lmng.vcxproj.filters
/lpng.vcxproj
/lpng.vcxproj.filters
/lungif.vcxproj
/lungif.vcxproj.filters
/opcode.vcxproj
/opcode.vcxproj.filters
/pcre.vcxproj
/pcre.vcxproj.filters
/squish.vcxproj
/squish.vcxproj.filters
/tinyxml.vcxproj
/tinyxml.vcxproj.filters
/zlib.vcxproj
/zlib.vcxproj.filters
