/Full DLL.vcproj
/Full.vcproj
/IE Full Plugin.vcproj
/NP Full Plugin.vcproj
/collada_dom.vcproj
/convexDecomp.vcproj
/libogg.vcproj
/libtheora.vcproj
/libvorbis.vcproj
/ljpeg.vcproj
/lmng.vcproj
/lpng.vcproj
/lungif.vcproj
/opcode.vcproj
/pcre.vcproj
/squish.vcproj
/tinyxml.vcproj
/zlib.vcproj
